<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#date3").datepicker();
        });

        $(function () {
            $("#date4").datepicker();
        })
    </script>

</head>
<body>

<h1><span th:text="${hotel.name}"></span></h1>

<form th:action="@{/book/room/}+${room.id}" method="post">
    <input id="date3" name="from_date" type="text" size="8" placeholder="from">
    <input id="date4" name="to_date" type="text" size="8" placeholder="to">
<br>
<span> Guest bio</span><br>
    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="email" name="email" placeholder="email">

    <input type="submit">
</form>

</body>
</html>