<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/change/customer}" method="post" enctype="multipart/form-data">
    <p>Change your login</p>
    <input type="text" name="username" placeholder="Login" th:value="${user.username}">
    <p>Change your name</p>
    <input type="text" name="name" placeholder="Name" th:value="${user.name}">
    <p>Change your surname</p>
    <input type="text" name="surname" placeholder="Surname" th:value="${user.surname}">

    <input type="email" name="email" placeholder="Email" th:value="${user.email}">
    <input type="submit" value="Submit!">
</form>
</body>
</html>