<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <form th:action="@{/save/changes/hotel/}+${hotel.id}" method="post" enctype="multipart/form-data">
        <p>Please enter Name:</p>
        <input type="" name="name" placeholder="Name" th:value="${hotel.name}"><br>
    <p>Please enter City:</p>
    <input type="" name="city" placeholder="City" th:value="${hotel.city}"><br>
    <p>Please enter Street:</p>
    <input type="" name="street" placeholder="Street" th:value="${hotel.street}"><br>
    <p>Please enter Email:</p>
    <input type="email" name="email" placeholder="Email" th:value="${hotel.email}"><br>
    <p>Please enter Phones:</p>
    <div id="phone_div" th:each="phone : ${hotel.phone}">
        <input type="" name="phones" placeholder="Phone" th:value="${phone.getNumber()}">
    </div>
    <br>
    <input type="button" id="addphone" value="Add phone number"><br>
    <p>Please enter Description:</p>
    <input type="text" size="50" name="description" th:value="${hotel.description}">
    <input type="submit" value="Submit!">
</form>

</body>
</html>