<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="py-2 text-center ">
    <div class="container   loginBox  ">
        <div class="container  ">
            <div class="col-md-12 justify-content-center align-items-center row">
                <form th:action="@{/change/customer}" method="post" enctype="multipart/form-data">
                    <p class="h6">Change your login</p>
                    <div class="mt-2"><input class="form-control input-lg" type="text" name="username"
                                             placeholder="Login" th:value="${user.username}"></div>
                    <p class="h6">Change your name</p>
                    <div class="mt-2"><input class="form-control input-lg" type="text" name="name" placeholder="Name"
                                             th:value="${user.name}"></div>
                    <p class="h6">Change your surname</p>
                    <div class="mt-2"><input class="form-control input-lg" type="text" name="surname"
                                             placeholder="Surname" th:value="${user.surname}"></div>

                    <div class="mt-2"><input class="form-control input-lg" type="email" name="email" placeholder="Email"
                                             th:value="${user.email}"></div>
                        <input class="btn btn-primary"  type="submit" value="Submit!">
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>