<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <meta charset="utf-8"/>
</head>
<body>


<form th:action="'/new_password/'+${customer.id}" method="post">
    <h2><span th:text="${customer.username}"></span></h2>
    <h3> enter ur new password</h3>
    <input  type="password" name="password1" placeholder="password" required oninvalid="setCustomValidity('Пожалуйста введите свой новый пароль')" oninput="setCustomValidity('')"><br>
        <h3>enter ur new password one more time</h3>
    <input type="password" name="password2" placeholder="re-enter password" required oninvalid="setCustomValidity('Введите свой новый пароль еще раз')" oninput="setCustomValidity('')"><br><br>
    <input type="submit" value="Change!">
</form>





</body>
</html>