<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create hotel</title>
</head>
<body>

<form th:action="@{/save/hotel}" method="post">
    <p>Please enter Name:</p>
    <input type="" name="name" placeholder="Name"><br>
    <p>Please enter City:</p>
    <input type="" name="city" placeholder="City"><br>
    <p>Please enter Street:</p>
    <input type="" name="street" placeholder="Street"><br>
    <p>Please enter Email:</p>
    <input type="email" name="email" placeholder="Email"><br>
    <p>Please enter Phones:</p>
    <div id="phone_div">
    <input type="" name="phones" placeholder="Phone">
    </div>
    <br>
    <input type="button" id="addphone" value="Add phone number"><br>
    <p>Please enter Description:</p>
    <input type="text" size="50" name="description">
    <input type="submit" value="Submit!">
</form>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>