<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
</head>
<body>
<p>Hotel Name: <span th:text="${hotel.name}"></span></p>
<p>Hotel City: <span th:text="${hotel.city}"></span></p>
<p>Hotel Street: <span th:text="${hotel.street}"></span></p>
<p>Hotel Email: <span th:text="${hotel.email}"></span></p>
<p>Hotel Description: <span th:text="${hotel.description}"></span></p>
<p>Hotel Phones:</p>
<ul th:each="phone : ${hotel.phone}">
    <li>
        <span th:text="${phone.number}"></span>
    </li>
</ul>
</body>
</html>