<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <link href="/css/div-style.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar navbar-expand-md navbar-light bg-light " id="for-header">
    <a class="navbar-brand font-weight-bold ml-5" href="/"><span>Hotel</span><span class="text-warning">zzz</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold ml-5" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <div th:if="${user!=null}">
                    <div th:if="${user.role==user_role}"><a class="nav-link font-weight-bold ml-5" href="/user">User
                        cabinet <span class="sr-only">(current)</span></a>
                    </div>
                    <div th:if="${user.role==admin_role}"><a class="nav-link font-weight-bold ml-5" href="/admin">Admin
                        cabinet <span class="sr-only">(current)</span></a>
                    </div>
                    <div th:if="${user.role==hoteladmin_role}"><a class="nav-link font-weight-bold ml-5"
                                                                  href="/hoteladmin">Hotel admin cabinet <span
                            class="sr-only">(current)</span></a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="mr-3" th:if="${user==null}"><a href="/login">sing in</a></div>
        <div class="mr-3" th:if="${user==null}"><a href="/registration">sing up</a></div>
        <div class="mr-3" th:if="${user!=null}"><span th:text="${user.username}"></span></div>
        <div class="mr-3" th:if="${user}!=null">
            <form th:action="@{/logout}" method="get">
                <button class="btn btn-primary" type="submit" value="">Logout</button>
            </form>

        </div>
    </div>
</nav>

<div class="container">
    <div class="container row py-5">
        <div class="container col-md-5 ">
            <div class="card bg-light p-3">
                <p>Hotel Name: <span th:text="${hotel.name}"></span></p>
                <p>Hotel City: <span th:text="${hotel.city}"></span></p>
                <p>Hotel Street: <span th:text="${hotel.street}"></span></p>
                <p>Hotel Email: <span th:text="${hotel.email}"></span></p>
                <p>Hotel Description: <span th:text="${hotel.description}"></span></p>
                <p>Hotel Phones:</p>
                <ul th:each="phone : ${hotel.phone}">
                    <li>
                        <span th:text="${phone.number}"></span>
                    </li>
                </ul>
                <form th:action="@{/change/hotel/} + ${hotel.id}" method="get">
                    <input type="submit" value="Edit hotel" class="btn btn-dark">
                </form>
            </div>
        </div>
        <div class="container col-md-3" data-toggle="collapse">
            <ul th:each="image : ${hotel.images}">
                <li>
                    <div class="div-images">
                        <img th:src="@{${image.getImage()}}" class="content">
                    </div>
                </li>
                <div class="col">
                    <a type="submit" class="btn btn-primary mb-2" th:href="'/delete/photo/' + ${image.id}">Delete</a>
                </div>
            </ul>
            <form th:action="@{/upload/photos/hotel/}+${hotel.id}" method="post" enctype="multipart/form-data"
                  class="form-row">
                <p>To add photos:</p>
                <div class="row">
                    <div class="custom-file col-8">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" name="images" required>
                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>

    </div>

    <div class="card-columns">

        <div class="card mt-3">

                <form th:action="@{/add/room}" method="post">
                    <div class="p-2">
                    <p>Add new room</p>
                    <input type="text" class="form-control" name="price" placeholder="price"><br>
                    <input type="text" class="form-control" name="roominess" placeholder="room count">
                    <p>Type of the Room</p>
                        <select class="custom-select mr-sm-2 my-1" name="type" id="inlineFormCustomSelect">
                            <option selected>Choose...</option>
                            <option th:value="${econom}">econom</option>
                            <option th:value="${standart}">standart</option>
                            <option th:value="${luxe}">luxe</option>
                        </select>

                    <input type="hidden" name="status" value="STATUS_FREE">
                    <input type="hidden" name="hotelId" th:value="${hotel.id}">

                    <button type="submit" class="btn btn-dark">add </button>
                    </div>
                </form>

        </div>
        <ul th:each="room,iter : ${hotel.rooms}">
            <li>
                <div class="card mt-3 ">
                    <div class="card-header">
                        <h3 th:text="'Room '+${iter.index+1}"></h3>
                        <p>Room price: <span th:text="${room.price}"></span></p>
                        <p>Room count: <span th:text="${room.roominess}"></span></p>
                        <p>Room type: <span th:text="${room.type}"></span></p>
                    </div>
                    <div class="card-body row">
                        <form th:action="@{/calendar/room/}+${room.id}" method="get" class="col-5">
                            <input type="submit" value="Booking" class="btn btn-primary">
                        </form>
                        <form th:action="@{/change/room/}+${room.id}" method="get" class="col-5">
                            <input type="submit" value="Change room" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!--<script type="text/javascript" th:src="@{/js/nav.js}"></script>-->
</body>
</html>



