<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
</head>
<body>
<p>Hotel Name: <span th:text="${hotel.name}"></span></p>
<p>Hotel City: <span th:text="${hotel.city}"></span></p>
<p>Hotel Street: <span th:text="${hotel.street}"></span></p>
<p>Hotel Email: <span th:text="${hotel.email}"></span></p>
<p>Hotel Description: <span th:text="${hotel.description}"></span></p>
<p>Hotel Phones:</p>
<ul th:each="phone : ${hotel.phone}">
    <li>
        <span th:text="${phone.number}"></span>
    </li>
</ul>
<ul th:each="room,iter : ${hotel.rooms}">
    <li>
        <h3 th:text="'Room '+${iter.index+1}"></h3>
        <p>Room price: <span th:text="${room.price}"></span></p>
        <p>Room count: <span th:text="${room.roominess}"></span></p>
        <p>Room type: <span th:text="${room.type}"></span></p>
        <p>Room status: <span th:text="${room.status}"></span></p>
    </li>
</ul>
</body>
</html>