<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration form : </h1>
<form th:action="@{/save}" method="post">
    <p>Please enter your Login:</p>
    <input type="" name="username" placeholder="Login"><br>
    <p>Please enter your Password:</p>
    <input type="" name="password" placeholder="Password"><br>
    <p>Please enter your Name:</p>
    <input type="" name="name" placeholder="Name"><br>
    <p>Please enter your Surname:</p>
    <input type="" name="surname" placeholder="Surname"><br>
    <p>Please enter your Age:</p>
    <input type="number" name="age" min="8" max="150" placeholder="Your age"><br>
    <p>Please enter your City:</p>
    <input type="" name="city" placeholder="City"><br>
    <p>Please enter your Email:</p>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="submit" value="Submit!">
</form>
<form th:action="@{/login}" method="get">
    <input type="submit" value="Login">
</form>
<div th:if="${error}" class="alert alert-danger">
    [[${error}]]
</div>
</body>
</html>