<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/div-style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<body>

<div id="wrap">

    <nav class="navbar navbar navbar-expand-md navbar-light bg-light ns" id="for-header">
        <a class="navbar-brand font-weight-bold ml-5" href="/"><h1><span>Hotel</span><span class="text-warning">zzz</span>
        </h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold ml-5" href="/"><h4>Home</h4> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <div th:if="${user!=null}">
                        <div th:if="${user.role==user_role}"><h4><a class="nav-link  ml-5" href="/user">User
                            cabinet <span class="sr-only">(current)</span></a></h4>
                        </div>
                        <div th:if="${user.role==admin_role}"><h4><a class="nav-link  ml-5" href="/admin">Admin
                            cabinet <span class="sr-only">(current)</span></a></h4>
                        </div>
                        <div th:if="${user.role==hoteladmin_role}"><h4><a class="nav-link ml-5"
                                                                          href="/hoteladmin">Hotel admin cabinet <span
                                class="sr-only">(current)</span></a></h4>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="mr-3" th:if="${user==null}"><h5><a href="/login">sing in</a></h5></div>
            <div class="mr-3" th:if="${user==null}"><h5><a href="/registration">sing up</a></h5></div>
            <div class="mr-3" th:if="${user!=null}"><h5><span th:text="${user.username}"></span></h5></div>
            <div class="mr-3" th:if="${user}!=null">
                <form th:action="@{/logout}" method="get">
                    <button class="btn btn-primary" type="submit" value="">Logout</button>
                </form>

            </div>
        </div>
    </nav>
    <div class="py-5 text-center ">
        <div class="container py-5  loginBox  ">
            <div>
                <div class="container  ">
                    <div class="col-md-12 justify-content-center align-items-center row">
                        <div class="container justify-content-center align-items-center text-center">
                            <div th:if="${error}" class="m-4 alert alert-danger  ">
                                [[${error}]]
                            </div>
                        </div>
                        <form th:action="@{/login}" method="post">
                            <div class="mt-2"><input class="form-control input-lg" type="text" name="username"
                                                     placeholder="Login"
                                                     required
                                                     oninvalid="setCustomValidity('Введите свой логин')"
                                                     oninput="setCustomValidity('')"></div>
                            <div class="mt-2"><input class="form-control input-lg" type="password" name="password"
                                                     placeholder="Password"
                                                     required
                                                     oninvalid="setCustomValidity('Введите свой пароль')"
                                                     oninput="setCustomValidity('')">
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary">log in</button>
                            </div>


                        </form>
                    </div>

                    <div class="justify-content-center align-items-center p-3">

                        <div class="container row col-md-12 justify-content-center align-items-center">
                            <br>
                            <div class="mr-3"><a href="/registration">registration</a></div>
                            <div class="mr-3"><a href="#" id="showForgotBox">Troubles with enter?</a></div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <div class="container loginBox  ">
            <div>
                <div class="container  ">
                    <div class="col-md-12 justify-content-center align-items-center row">
                        <div class="container justify-content-center align-items-center text-center">

                            <div class="container voc" id="forgotBox">
                                <form th:action="@{/login/forgotten}" method="get">
                                    <!--<input type="submit" value="forgot password">-->
                                    <h3 class="h6">Forgot login?</h3>
                                    <h4 class="h5">Enter ur email, receive a message with ur loggin
                                    </h4>
                                    <div class="col-md-12 justify-content-center align-items-center row">
                                        <div class="mt-2"><input class="form-control input-lg" type="text" name="email"
                                                                 placeholder="email"></div>
                                    </div>
                                    <div class="mt-2"><input class="btn btn-primary " type="submit" th:value="send">
                                    </div>

                                </form>
                                <br>
                                <form th:action="@{/password/forgotten}" method="get">
                                    <!--<input type="submit" value="forgot password">-->
                                    <h3 class="h6">Change password</h3>
                                    <h4 class="h5">Enter ur email, go to the link on ur mail</h4>
                                    <div class="col-md-12 justify-content-center align-items-center row">
                                        <div class="mt-2"><input class="form-control input-lg" type="text" name="email"
                                                                 placeholder="email"></div>
                                    </div>
                                    <div class="mt-2"><input class="btn btn-primary " type="submit" th:value="send">
                                    </div>

                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------
    FOOTER
 ----------->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p class="footer__name">© Hotelzzz.com 2018</p>
                <p>Hotelzzz - the best site to search for hotels</p>
            </div>
            <div class="col-4">
                <p class="footer__social">Our social networks:</p>
                <p class="footer__social-icons">
                    <a href="https://twitter.com" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://facebook.com" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://plus.google.com" target="_blank">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </p>
            </div>
            <div class="col-4">
                <p class="feedback">Our email:</p>
                <p class="feedback">projectcompany69@gmail.com</p>
            </div>
        </div>
    </div>
</div>


<!--<script type="text/javascript" th:src="@{/js/nav.js}"></script>-->
<script>
    $(document).ready(function () {
        $('#showForgotBox').click(function () {
            $("#forgotBox").toggle(600); //  скрываем, или отображаем все элементы <div>
        })
    });
</script>

<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>