<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotelzzz</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="/css/div-style.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script>
        $(function () {
            $("#date1").datepicker({ dateFormat: 'mm.dd.yy' });
        });

        $(function () {
            $("#date2").datepicker({ dateFormat: 'mm.dd.yy' });
        })
    </script>
</head>
<body>


<nav class="navbar navbar navbar-expand-md navbar-light bg-light " id="for-header">
    <a class="navbar-brand font-weight-bold ml-5" href="/"><span>Hotel</span><span class="text-warning">zzz</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold ml-5" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <div th:if="${user!=null}">
                    <div th:if="${user.role==user_role}"><a class="nav-link font-weight-bold ml-5" href="/user">User
                        cabinet <span class="sr-only">(current)</span></a>
                    </div>
                    <div th:if="${user.role==admin_role}"><a class="nav-link font-weight-bold ml-5" href="/admin">Admin
                        cabinet <span class="sr-only">(current)</span></a>
                    </div>
                    <div th:if="${user.role==hoteladmin_role}"><a class="nav-link font-weight-bold ml-5"
                                                                  href="/hoteladmin">Hotel admin cabinet <span
                            class="sr-only">(current)</span></a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="mr-3" th:if="${user==null}"><a href="/login">sing in</a></div>
        <div class="mr-3" th:if="${user==null}"><a href="/registration">sing up</a></div>
        <div class="mr-3" th:if="${user!=null}"><span th:text="${user.username}"></span></div>
        <div class="mr-3" th:if="${user}!=null">
            <form th:action="@{/logout}" method="get">
                <button class="btn btn-primary" type="submit" value="">Logout</button>
            </form>

        </div>
    </div>
</nav>

<div>

</div>
<div class="py-5 text-center">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-primary font-weight-bold display-2 text-b logo-font"><span
                        class="text-dark">Hotel</span><span class="text-warning">zzz</span></h1>
            </div>
        </div>
    </div>
</div>

<div class=" text-center">
    <div class="container">
                    <div class="form-group row justify-content-center align-items-center">
                        <input type="hidden">
                        <div class="col-md-5  " >
                            <input type="text" class="form-control input-lg finder" required  name="finder" placeholder="City or hotel's name">
                        </div>
                        <div class=" col-md-1  " >
                            <input type="text" class="form-control input-lg countOfGuests" required  name="countOfGuests" placeholder="Guests">
                        </div>
                        <div class=" col-md-1  ">
                            <input id="date1" class="form-control input-lg" name="from_date" type="text" size="8" required  placeholder="from">
                        </div>
                        <div class="col-md-1  ">
                            <input id="date2"  class="form-control input-lg"  name="to_date" type="text" size="8" required  placeholder="to">
                        </div>
                        <div class=" col-md-1  ">
                            <button class="btn btn-primary " type="submit" id="submit">Find!</button>
                        </div>
                        </div>
            </div>
</div>
<div class="form-inline d-none justify-content-center selector mb-2">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Sorting by :</label>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
        <option selected>Choose filter field...</option>
        <option value="cheap">From cheap to expensive</option>
        <option value="expensive">From expensive to cheap</option>
    </select>

    <button type="submit" class="btn btn-primary " id="sortSubmit">Submit</button>
</div>
<div class="card-columns" id="commonBox">
        <!--Here is found results of searching-->
</div>
<script>

    // 'Sorting found room' part
    //Передавати сюди інформацію резалт, а результат розбивати на такі самі створені блоки, як в попередньому коді
     let $sortSubmit = $('#sortSubmit');
     $sortSubmit.click(function () {
         let $commonBox = $('#commonBox');
        let $inlineFormCustomSelect = $('#inlineFormCustomSelect');
         let $finder = $('.finder');
         let $countOfGuests = $('.countOfGuests');
         var $date1 = $('#date1');
         var $date2= $('#date2');

         var obj = {
             finder:$finder.val(),
             countOfGuests:$countOfGuests.val(),
             from_date:$date1.val(),
             to_date:$date2.val(),
             sort:$inlineFormCustomSelect.val()
         };
         let jsonObj = JSON.stringify(obj);
         $.ajax({
             url: 'http://localhost:8080/sortBy',
             method: 'POST',
             contentType:'text/plain',
             data: jsonObj,
             success: function (result){
                 console.log(result);
                 if(!$commonBox.empty()){
                     let $div = $('<div/>',{
                         text: ''
                     });
                     $commonBox.append($div);
                 }
                 $(result).each(function (index,obj) {
                     let $card = $('<div/>',{
                         class:'card'
                     });
                     let $cardBody = $('<div/>',{
                         class:'card-body'
                     });
                     let listImages = obj.hotel.images;
                     let $img = $('<img/>',{
                         class:'card-img-top',
                         src:listImages[0].image
                     });
                     let $title = $('<h5/>',{
                         class:'card-title',
                         text:'Hotelname : '+ obj.hotel.name
                     });
                     let $description = $('<p/>',{
                         class:'card-text',
                         text:'City : ' + obj.hotel.city + ' '  + ' Count of room : ' + obj.roominess + ' Price : ' + obj.price
                     });
                     let $booking = $('<a/>',{
                         class:'btn btn-primary',
                         text:'Booking!',
                         href:'/book/room/' + obj.id +'/'+ $date1.val().toString()+'/'+ $date2.val().toString()
                     });
                     $commonBox.append($card);
                     $card.append($img,$cardBody);
                     $cardBody.append($title,$description,$booking);
                 });
             },
             error : function (error) {
                 console.log(error);
             }
         })
     });

    // 'Find room' Part

    let $submit = $('#submit');
    $submit.click(function () {
        let $commonBox = $('#commonBox');
        let $selector = $('.selector');
        let $finder = $('.finder');
        let $countOfGuests = $('.countOfGuests');
        var $date1 = $('#date1');
        var $date2= $('#date2');

            $selector.removeClass('d-none').addClass('d-flex');

        var obj = {
            finder:$finder.val(),
            countOfGuests:$countOfGuests.val(),
            from_date:$date1.val(),
            to_date:$date2.val()
        };
        let jsonObj = JSON.stringify(obj);
        $.ajax({
            url: 'http://localhost:8080/',
            method: 'POST',
            contentType:'text/plain',
            data: jsonObj,
            success: function (result) {

                if(!$commonBox.empty()){
                    let $div = $('<div/>',{
                        text: ''
                    });
                    $commonBox.append($div);
                }
                $(result).each(function (index,obj) {
                    let $card = $('<div/>',{
                        class:'card'
                    });
                    let $cardBody = $('<div/>',{
                        class:'card-body'
                    });
                    let listImages = obj.hotel.images;
                        let $img = $('<img/>',{
                            class:'card-img-top',
                            src:listImages[0].image
                    });
                    let $title = $('<h5/>',{
                        class:'card-title',
                        text:'Hotelname : '+ obj.hotel.name
                    });
                    let $description = $('<p/>',{
                        class:'card-text',
                        text:'City : ' + obj.hotel.city + ' '  + ' Count of room : ' + obj.roominess + ' Price : ' + obj.price
                    });
                    let $booking = $('<a/>',{
                        class:'btn btn-primary',
                        text:'Booking!',
                        href:'/book/room/' + obj.id +'/'+ $date1.val().toString()+'/'+ $date2.val().toString()
                    });
                    $commonBox.append($card);
                    $card.append($img,$cardBody);
                    $cardBody.append($title,$description,$booking);
                })
            },
            error : function (error) {
                console.log(error);
            }

        });
        // $finder.val('');
        // $countOfGuests.val('');
        // $date1.val('');
        // $date2.val('');
    });

</script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script type="text/javascript" th:src="@{/js/nav.js}"></script>
</body>
</html>