<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<form th:action="@{/findUsers}" method="get">
    <input type="text" placeholder="Find user" name="user">
    <input type="submit" value="Submit!">
</form>
<ul th:each="user : ${users}">
    <li>
        <a th:href="'/user/'+${user.id}+'/other'" th:text="'ID - '+${user.id}+' Name - ' + ${user.name} + ' Surname - ' + ${user.surname} + ' Age - ' + ${user.age}"></a>
    </li>
</ul>
<p th:text="${error}"></p>
</body>
</html>