<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>


<div>
    <img th:src="${user.image}">
</div>

<form action="/upload_avatar" method="post" enctype="multipart/form-data">
<h3>change avatar</h3>
    <input type="file" name="file" >
    <input type="submit" value="submit">

</form>
<span th:text="${user.image}">  </span>

<p>Your Name:</p>
<span th:text="${user.name}"></span>
<p>Your Surname:</p>
<span th:text="${user.surname}"></span>
<p>Your Age:</p>
<span th:text="${user.age}"></span>
<p>Your City:</p>
<span th:text="${user.city}"></span>
<p>Your Email:</p>
<span th:text="${user.email}"></span>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="Logout">
</form>
<form th:action="@{/UserList}" method="get">
    <input type="submit" value="Find user">
</form>

</body>
</html>